.callout {
    max-width:400px;
    margin: 20px;
    border: 10px solid rgba 0,0,0,.1;
    padding: 15px;
    background-color: aquamarine;
    text-emphasis-color: black;
	
}

.callout img {
    position: float right;
    margin: 0 0 10px 15px;
    padding: 3px;
    background-color: aqua;
    width: 100px;
    height: auto;

	
}

blockquote {
    margin: 0;
	
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
	
}