/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --primary-color: #0059ff;
    --secondary-color: #ff7700;
    --background-color: #f5f5f5;
    --text-color: #333333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1200px; 
    margin: 0 auto; 
}


h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color); 
}

p {
    color: var(--text-color);
}


nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
}


.social-media a {
    text-decoration: none;
}


.hero {
    position: relative;
    width: 100%; 
}

.hero img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
}

.hero-content h1 {
    color: var(--secondary-color); 
}

.hero-content article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content article img {
    float: right; /
    margin-left: 20px;
}
