:root {
    --primary-color: #66FF00;
    --secondary-color: #FF0800;
    --accent1-color: #79443B;
    --accent2-color: #EDC9AF;

    --heading-font: 'YourPreferredFontHere', serif; 
    --paragraph-font: 'AnotherFont', serif; 

    --nav-background-color: #BEBFC5;
    --nav-link-color: #696969;
    --nav-hover-link-color: #00FFFF; 
    --nav-hover-background-color: #007BA7;
}

body {
    font-family: var(--nav-hover-background-color); 
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: #007BA7;
    position: relative;
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer{
    box-sizing: content-box;
    background-color: #007BA7;

}
