
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corrected Selector */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

aside {
    
    margin: 1rem;  
    padding: 1rem; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    color: #333; 
}

.profile-img {
    float: right;
    margin: 1rem;
}

.overlay-heading {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

  

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    background-color: lightblue;
    color: blue;
    display: block;
    padding: 20px;
    
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}




main img {
    float: right;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}
